asgiref==3.7.2 ; python_version >= "3.10" and python_version < "4.0"
django-solo==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-tinymce==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
django==4.2.3 ; python_version >= "3.10" and python_version < "4.0"
mysqlclient==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
