{% extends 'base.html' %}
{% load static %}
{% block page_content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Leif Kjos</h1>
      <p><span class="typed" data-typed-items="Engineer, Developer, Generalist, Climber"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p class="lead">A lot of the work I've done and code I've written is proprietary or confidential, but here are a few projects that I can share publicly.</p>
        </div>
{% comment %} 
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> {% endcomment %}

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% url 'project' pk=project.pk %}" class="d-block h-100"><span></span></a>                
                  <img src="{{media_url}}{{project.first_image}}" class="img-fluid" alt="{{project.title}}">
                 
                  
                  <div class="portfolio-links w-100 h-100 text-center">
                    <a href="{% url 'project' pk=project.pk %}" title="{{project.title}}" class="w-100">{{project.title}}</a>
                  </div>
              </div>
              {% if user.is_authenticated %}
                <a class="btn btn-info mr-2 reorderBtn" id="{{ project.pk }}-moveUp" role="button">Up</a>
                <a class="btn btn-info mr-2 reorderBtn" id="{{ project.pk }}-moveDown" role="button">Down</a>
              {% endif %}
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Hi, I'm Leif.</h3>
            <p>
              I love working with technology companies to bring products to market. During my time at HaptX, I was involved in all aspects of the business: design, testing, customer support, finance and recruiting. 
              I learned to prioritize having solid processes that lead to long term success over sacrificing quality for short term results.
            </p>
            <p> 
              I'm currently consulting for small-medium businesses, helping them make the right data-driven decisions. My clients are interested in using technology to scale their business, ensuring quality with repeatable processes, and focusing their effort on the highest impact problem.
              With 9 years of experience in startup operations, a passion for data, and the technical know-how implement solutions, I can help you bring your business to the next level.
            </p>
            <p>
              I also love big wall climbing, cycling, reading, and skate skiing. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Here's a few of the technologies and methodologies I'm most familiar with:</p>
        </div>

        <div class="row skills-content my-5">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-code-alt mb-4"></i>
            <h1 class="mb-3"> Languages</h1>
            <p class="text-muted"> Python, C++, HTML/CSS, JavaScript, Git, VBA</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-analyse mb-4"></i>
            <h1 class="mb-3"> Frameworks</h1>
            <p class="text-muted">Django, Flask, Bootstrap 4, Wx, OAuth2</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-data mb-4"></i>
            <h1 class="mb-3"> Databases</h1>
            <p class="text-muted"> SQL, Postgres, GraphQL, NoSQL</p>
          </div>
        </div>
        <div class="row skills-content my-5">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-line-chart mb-4"></i>
            <h1 class="mb-3"> Visualization</h1>
            <p class="text-muted"> Tableau, PowerBI</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-test-tube mb-4"></i>
            <h1 class="mb-3"> Testing</h1>
            <p class="text-muted"> UnitTest, PyTest</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-git-branch mb-4"></i>
            <h1 class="mb-3"> Paradigms</h1>
            <p class="text-muted"> OOP, MVC, TDD</p>
          </div>
        </div>
        <div class="row skills-content my-5 justify-content-center">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-compass mb-4"></i>
            <h1 class="mb-3"> Project Management</h1>
            <p class="text-muted"> PMP-trained, Agile, SCRUM, Waterfall</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-conversation mb-4"></i>
            <h1 class="mb-3"> Product Management</h1>
            <p class="text-muted"> Customer Engagement, Surveys, A-B Testing</p>
          </div>

        </div>
				
			</div>

    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Strategy and Data Science Consultant</h4>
              <h5>July 2020 - Present</h5>
              <p><em>Remote West Coast </em></p>
              <ul>
                <li>Created {% if 9 in project_ids %}<a href="{% url 'project' pk=9 %}">custom ERP system</a>{%else%}custom ERP system{%endif%} that combines data from payroll, CRM, quoting tool, time tracking, phone system, and QuickBooks to provide real-time business intelligence, and KPIs</li>
                <li>Analyzed and created reports for job profitability and employee performance, identified where to focus marketing and sales resources and reworked price model</li>
                <li>Automated multiple manual roles including bookkeeping, payroll, and dispatch, cutting administrative payroll costs by over 35% and reduced accounting and dispatch errors to near zero</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Director of Technical Operations</h4>
              <h5>June 2017 - May 2021</h5>
              <p><em>HaptX Inc., San Luis Obispo, CA</em></p>
              <ul>
                <li>Managed cross-functional team of Customer Service, Administrative Staff, and Electrical, Mechanical, Software, & Firmware engineers</li>
                <li>Worked with leadership team to set engineering development goals and product requirements based on the voice of the customer</li>
                <li>Managed customer software and hardware development projects, including project to integrate {% if 5 in project_ids %}<a href="{% url 'project' pk=5 %}">TC3Sim</a>{%else%}TC3Sim{%endif%} with VR and Haptics,
                 {% if 4 in project_ids %}<a href="{% url 'project' pk=4 %}">Nissan Leaf Integration</a>{%else%}Nissan Leaf Integration{%endif%}, and {% if 1 in project_ids %}<a href="{% url 'project' pk=1 %}">Tactile Telerobot</a>{%else%}Tactile Telerobot{%endif%}</li>
                <li>Programmed automatic customer data analytics collection system, to securely collect and process usage data from customer SDK installs, using Python, Wx, and Django Rest Framework</li>
                <li>Created customer support program from scratch, including hiring team of 7, setting up JIRA ticketing system, and documenting support process</li>
                <li>Worked with engineering managers to recruit, onboard, and organize team of 40 FTE engineers</li>
                <li>Ensured company compliance with government contracting requirements. Created documentation and employee training program</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Manager of Engineering</h4>
              <h5>2015 - 2017</h5>
              <p><em>HaptX Inc., San Luis Obispo, CA</em></p>
              <ul>
                <li>Opened remote engineering office in SLO, hired part-time and full-time staff (7 direct reports)</li>
                <li>Planned, managed, and executed projects, including powered leg exoskeleton prototype</li>
                <li>Modeled, designed, and fabricated early and exoskeleton prototypes</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Mechanical Design Engineer</h4>
              <h5>2013 - 2015</h5>
              <p><em>HaptX Inc., San Luis Obispo, CA</em></p>
              <ul>
                <li>Designed, built, and tested research prototypes</li>
                <li>Assisted writing technical specification for early patents</li>
                <li>Created CAD models and design visualizations</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BS Mechanical Engineering</h4>
              <h5>2009 - 2013</h5>
              <p><em>Santa Clara University, CA</em></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Get help selecting and implementing the right software for your business, building integrations between existing systems, or developing a custom solution that precisely meets your needs.
          I'll work with you and help you find the right approach for your needs, timeline, and budget.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bx-code-alt"></i></div>
            <h4 class="title">Develop</h4>
            <p class="description">Build out a custom enterprise resource management system that meets your business needs.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-git-compare"></i></div>
            <h4 class="title">Integrate</h4>
            <p class="description">Connect existing applications and data sources to minimize errors and costs. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-analyse"></i></div>
            <h4 class="title">Analyze</h4>
            <p class="description">Model your business and customers to predict growth and describe your customers with grouping analysis.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class='bx bx-bar-chart'></i></div>
            <h4 class="title">Visualize</h4>
            <p class="description">Create actionable dashboards and real-time charts of KPIs.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-lock"></i></div>
            <h4 class="title">Secure</h4>
            <p class="description">Protect your customer and employee data with a security audit, training, and policy refresh.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bx bx-trending-up"></i></div>
            <h4 class="title">Scale Up</h4>
            <p class="description">Expand your business, enter new verticals, or launch a new product.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let's talk!</p>
        </div>
 
        <div class="row justify-content-center" data-aos="fade-in">

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form name="contactForm" id="contactForm" method="post" role="form" class="php-email-form" action={% url 'contact' %}>
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="body" rows="10" required></textarea>
              </div>
              <div class="form-group">
                <label for="name">What's 2+2?</label>
                <input type="text" class="form-control" name="captcha" required>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>
        <div id="contactOutput">
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% if user.is_authenticated %}
  <script type="text/javascript">
    // update all tasks
         
    $('.reorderBtn').click(function(event) {
        var pk_action = $(this).attr('id').split('-');
        var pk = pk_action[0];
        var action = String(pk_action[1]).replace('move','').toLowerCase();

        let cookie = document.cookie
        let csrfToken = cookie.substring(cookie.indexOf('=') + 1);
        $.ajax(
            {
                url:`ajax/move-project/${pk}/`,
                type: "PUT",
                contentType: "application/json",
                headers: {
                    'X-CSRFToken': csrfToken
                },
                dataType: 'json',
                data:JSON.stringify({'action':action}),
                success: function(result){
                    console.log('success!');
                    location.reload();
                },
                error: function(request, status, errorThrown){
                    console.log('error:');
                    console.log(request);
                    console.log('status:');
                    console.log(status);
                    console.log('errorThrown');
                    console.log(errorThrown);
                    {% comment %} $('#testing').load(result); {% endcomment %}
                },
                
            }
        )
        
        
    })
  </script>

{% endif %}
{% endblock %}
