{% extends 'base.html' %}
{% block page_content %}
{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Leif Kjos</h1>
      <p><span class="typed" data-typed-items="Engineer, Developer, Generalist, Climber"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p> I'm interested in helping medium-sized businesses succeed by making the right data-driven decisions. My clients are interested in using technology to scale their business, ensuring quality with repeatable processes, and focusing their effort on the highest impact problem.
              With 9 years of experience in startup operations, a passion for data, and the technical know-how implement solutions, I can hel you bring your business to the next level.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Strategy &amp; Data Science Consultant.</h3>
            <p class="fst-italic">
               subheading
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Seattle, WA</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BS Mechanical Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
             BOTTOM TEXT
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Here's an inexhaustive list of the technologies and methodologies I'm most familiar with:</p>
        </div>

        <div class="row skills-content my-5">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-code-alt mb-4"></i>
            <h1 class="mb-3"> Languages</h1>
            <p class="text-muted"> Python, C++, HTML/CSS, JavaScript, Git, VBA</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-analyse mb-4"></i>
            <h1 class="mb-3"> Frameworks</h1>
            <p class="text-muted">Django, Flask, Bootstrap 4, Wx, OAuth2</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-data mb-4"></i>
            <h1 class="mb-3"> Databases</h1>
            <p class="text-muted"> SQL, Postgres, GraphQL, NoSQL</p>
          </div>
        </div>
        <div class="row skills-content my-5">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-line-chart mb-4"></i>
            <h1 class="mb-3"> Visualization</h1>
            <p class="text-muted"> Tableau, PowerBI</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-test-tube mb-4"></i>
            <h1 class="mb-3"> Testing</h1>
            <p class="text-muted"> UnitTest, PyTest</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-git-branch mb-4"></i>
            <h1 class="mb-3"> Paradigms</h1>
            <p class="text-muted"> OOP, MVC, TDD</p>
          </div>
        </div>
        <div class="row skills-content my-5 justify-content-center">
          <div class="col-md-4 skill-group text-center">
            <i class="bx bxs-compass mb-4"></i>
            <h1 class="mb-3"> Project Management</h1>
            <p class="text-muted"> PMP-trained, Agile, SCRUM, Waterfall</p>
          </div>
          <div class="col-md-4 skill-group text-center">
            <i class="bx bx-conversation mb-4"></i>
            <h1 class="mb-3"> Product Management</h1>
            <p class="text-muted"> Customer Engagement, Feedback Surveys, A-B Testing</p>
          </div>

        </div>
				
			</div>

    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item pb-0">
              <h4>Director of Technical Operations</h4>
              <p><em>HaptX Inc.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BS Mechanical Engineering</h4>
              <h5>2009 - 2013</h5>
              <p><em>Santa Clara University, CA</em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Get help selecting and implementing the right software for your business, building integrations between existing systems, or developing a custom solution that precisely meets your needs.
          I'll work with you and help you find the right approach for your needs, timeline, and budget.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bx-code-alt"></i></div>
            <h4 class="title"><a href="">Develop</a></h4>
            <p class="description">Build out a custom enterprise resource management system that meets your business needs.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-git-compare"></i></div>
            <h4 class="title"><a href="">Integrate</a></h4>
            <p class="description">Connect existing applications and data sources to minimize errors and costs. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-analyse"></i></div>
            <h4 class="title"><a href="">Analyze</a></h4>
            <p class="description">Model your business and customers to predict growth and describe your customers with grouping analysis.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class='bx bx-bar-chart'></i></div>
            <h4 class="title"><a href="">Visualize</a></h4>
            <p class="description">Create actionable dashboards and real-time charts of KPIs.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-lock"></i></div>
            <h4 class="title"><a href="">Secure</a></h4>
            <p class="description">Protect your customer and employee data with a security audit, training, and policy refresh.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bx bx-trending-up"></i></div>
            <h4 class="title"><a href="">Scale Up</a></h4>
            <p class="description">Expand your business, enter new verticals, or launch a new product.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let's talk!</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-in">

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
