{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio Details - {{object.title}}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}
{% block page_content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4 d-flex">

          <div class="col-lg-8">
            {% if images|length > 1 %}
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  {% for image in images %}
                    <div class="swiper-slide">
                      <img class="img-fluid mx-auto d-block rounded" src="{{media_url}}{{image.image}}" alt="{{image.title}}">
                    </div>
                    {% if embeds %}
                      {% if forloop.counter == 1 %}
                        {% for embed in embeds %}
                          <div class="swiper-slide">
                            <div class="position-absolute top-50 start-50 translate-middle">
                              {{embed.html|safe}}
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            {% else %}
                <div>
                  <img class="img-fluid mx-auto d-block rounded" src="{{media_url}}{{images.0.image}}" alt="{{images.0.image.title}}">
                </div>
            {% endif %}
          </div>

          <div class="col-lg-4 align-self-center">
            <div class="portfolio-info">
              <h3>{{object.title}}</h3>
                <p>
                  {{object.description|safe}}
                </p>
            </div>
            <div class="portfolio-description">
              <h2></h2>
            </div>
          </div>

        </div>
        <div class="row mt-3 gy-4 d-flex">
          <div class='col border-top border-bottom'>
          {% if previous_url %}
            <small><a class="float-start" href={{previous_url}}><i class="bi bi-chevron-left"></i> {{previous_title}}</a></small>
          {% endif %}
          {% if next_url%}
            <small><a class="float-end" href={{next_url}}>{{next_title}} <i class="bi bi-chevron-right"></i></a></small>
          {% endif %}
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
{% endblock %}
  </main><!-- End #main -->
