
<!DOCTYPE html>
{% block lang %}
<html lang="en">
{% endblock %}
<head>
    {% load static %}
    {% load my_template_tags %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block beforestyle %}{% endblock %}
    {% block style %}
      <link href="{% static 'bs5/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %} {% endblock %}
    {% block responsive %}{% endblock %}
    <title>{% block title %}{% endblock %} | {{root_url}}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <!-- Favicon link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Kjos</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          <a class="nav-link" href="#">Projects</a>
          <a class="nav-link" href="#">Blog</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
    <main class="px-3">
      <!-- Page Content -->
      {% block page_content %}
      {% endblock %}
    </main>

    <!-- from https://dev.to/xarala221/django-class-based-views-with-pagination-2n8l -->
    {% block pagination %}
      {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" >Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
            {% endif %}
              
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
              {% else %}
                <a class="page-link" href="?{% param_replace page=i %}">{{ i }} <span class="sr-only">(current)</span></a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    {% endblock %}

    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
  {% block js %}
  {% endblock %}
  {% block extrajs %}
  {% endblock %}

</body>

</html>



